<hlm-dialog-header>
  <h3 hlmDialogTitle>Welcom Back :)</h3>
  <p hlmDialogDescription>login to your account</p>
</hlm-dialog-header>

<form class="space-y-6 w-full">
  <label hlmLabel
    >E-Mail
    <input class="w-[95%]" hlmInput type="email" placeholder="Email" />
  </label>

  <label hlmLabel
    >Password
    <input class="w-[95%]" hlmInput type="password" placeholder="Password" />
  </label>

  <div class="flex flex-row w-full justify-between items-center">
    <span
      class="text-blue-500 text-sm font-bold cursor-pointer px-2 hover:underline transition ease-in-out duration-200"
      >Forgot Password</span
    >

    <span
      class="text-blue-800 text-sm font-bold cursor-pointer px-2 hover:underline transition ease-in-out duration-200"
      >New? Register</span
    >
  </div>

  <button hlmBtn type="submit" class="w-full">register</button>
</form>
