@if (blog !== null && (loading === false || first() === false)) {
<div class="flex flex-col w-full justify-start items-start gap-2">
  <div class="w-[95%] md:w-[80%] lg:w-[75%] mx-auto">
    <div
      class="flex flex-col gap-2 justify-start items-center w-full p-2 mt-2 mb-2"
    >
      <div class="flex flex-row justify-between items-center w-full">
        <div
          class="flex flex-col justify-start items-start gap-2 cursor-pointer"
        >
          <div
            class="flex flex-row justify-center items-center gap-2"
            routerLink="/users/{{ blog.created_by.id }}"
          >
            <app-profile-image [user]="blog.created_by" />
            <span class="font-bold text-lg dark:text-white text-black">{{
              blog.created_by.name
            }}</span>
          </div>
          <span class="dark:text-neutral-500 text-neutral-400 text-sm">{{
            blog.created_at | date
          }}</span>
        </div>
        <div class="flex flex-row flex-wrap justify-center items-center gap-2">
          <button hlmBtn (click)="like($event)">
            <hlm-icon
              *ngIf="isLiked() === false"
              name="lucideThumbsUp"
            ></hlm-icon>
            <hlm-icon
              *ngIf="isLiked() === true"
              name="lucideThumbsDown"
            ></hlm-icon>
          </button>
          <button
            (click)="delte()"
            hlmBtn
            *ngIf="user !== null && user.id === blog.created_by.id"
          >
            <hlm-icon name="lucideTrash2"></hlm-icon>
          </button>
          <button
            (click)="edit()"
            hlmBtn
            *ngIf="user !== null && user.id === blog.created_by.id"
          >
            <hlm-icon name="lucidePen"></hlm-icon>
          </button>
          <hlm-sheet side="right" *ngIf="user !== null">
            <button hlmBtn brnSheetTrigger>
              <hlm-icon name="lucideMessageCircle"></hlm-icon>
            </button>
            <hlm-sheet-content
              *brnSheetContent="let ctx"
              class="dark:text-white text-black flex flex-col gap-2"
            >
              <hlm-sheet-header class="dark:text-white text-black">
                <h3 hlmSheetTitle class="dark:text-white text-black">
                  Comments
                </h3>
                <p
                  hlmSheetDescription
                  class="dark:text-neutral-700 text-neutral-400"
                >
                  this blog comments
                </p>
              </hlm-sheet-header>

              <div class="flex flex-col justify-start items-start w-full gap-2">
                <div
                  class="flex flex-col sm:flex-row justify-center items-center w-full gap-2"
                >
                  <input
                    hlmInput
                    class="flex-1 w-full"
                    [(ngModel)]="comment"
                    placeholder="comment"
                  />
                  <button hlmBtn class="w-full md:w-fit">
                    <hlm-icon name="lucideSend"></hlm-icon>
                  </button>
                </div>

                <div *ngFor="let comment of blog.comments">
                  {{ comment.text }}
                </div>
              </div>
            </hlm-sheet-content>
          </hlm-sheet>
        </div>
      </div>
      <div class="flex flex-col gap-2 justify-start items-start w-full mx-auto">
        <span class="text-2xl font-bold dark:text-white text-black">{{
          blog.title
        }}</span>
        <span
          class="text-base font-bold dark:text-neutral-700 text-neutral-400"
          >{{ blog.description }}</span
        >

        <div class="mx-auto" [innerHTML]="blog.content | safeHtml"></div>
      </div>
    </div>
  </div>
</div>
} @else if (loading === true && blog === null) {
<div class="grid md:grid-cols-1 gap-2">
  <hlm-skeleton class="w-full md:h-[32vh] h-40" />
  <hlm-skeleton class="w-full md:h-[32vh] h-40" />
  <hlm-skeleton class="w-full md:h-[32vh] h-40 hidden md:block" />
</div>
} @else if (loading === false && blog === null) {
<div class="w-full flex flex-col justify-center items-center gap-2 py-2">
  <app-heading
    title="Blog not Found"
    subtitle="can't find blog you are looking for"
  ></app-heading>
</div>
}
